[submodule "public"]
	path = public
	url = https://github.com/tmagelinski/tmagelinski.github.io.git
	branch = master
[submodule "tmagelinski.github.io"]
	path = tmagelinski.github.io
	url = git@github.com:tmagelinski/tmagelinski.github.io.git
	branch = master
